:root{
    --dark_color: black;
    --blue_color: #0070D1;
    --light: white;
    --ligher: #BEBCBB;
    --bg_btn: #D9DADC;
    --dark-blue: #161C3B;
    --light_blue: #00439C;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*color*/
.bg_dark_color{
    background-color: var(--dark_color);
}

.bg_light-color{
    background-color: var(--light);
}

.bg_btn{
    background-color: var(--bg_btn);
}

.bg_blue{
    background-color: var(--blue_color);
}

.bg_light-blue{
    background-color: var(--light_blue);
}

.bg_dark-blue{
    background-color: var(--dark-blue);
}

.blue_color{
    color: var(--blue_color);
}

.text_black{
    color: var(--dark_color) !important;
}

.text_black:hover{
    color: var(--blue_color)!important ;
}

.debug{
    background-color: aquamarine;
    height: 100px;
}

.bg_gray{
    background-color: var(--ligher);
}

/* font-size */

.fs_08{
    font-size: 0.8rem;
}


/*img container*/
.box_sony{
    width: 70px;
}
.play_ico{
    width: 80px;
}

.hero_img{
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    height: 600px;
}

.returnal{
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-position-x: right;
}

.it_takes-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);  
    background-position-x: center;
}

/* Icons */
.drop-triangle::after{
    display: inline-block;
    content: "";
    background-image: url(../img/chevron-down-solid.svg);
    width: 10px;
    height: 10px;
}

.drop-triangle:hover::after{
    display: inline-block;
    content: "";
    background-image: url(../img/chevron-down-solid-hover.svg);
    width: 10px;
    height: 10px;
}


.link_giochi::before {
    display: flex;
    align-items: center;
    font-family: "Font Awesome 5 Free"; 
    font-size: 0.5rem;
    color: var(--blue_color);
    font-weight: 900; 
    content: "\f111";
    margin-right: 0.5rem;
  }

  /* header */
.dropdown-menu{
    position: absolute;
    left: 0;
    top: 70px;
}

.rounded_5{
    border-radius: 20px;
}


@media screen and (min-width: 556px) {
    body{
        margin-right: 0;
    }
    
}

@media screen and (min-width: 992px) {
    .social_media{
        padding-left: 15rem;
        padding-right: 15rem;
    }
    
}